{::fvm/type ::requires
 ::value ["lib/std.edn"]}

{::fvm/type ::defop
 ::name :test/fact
 ::value [{::fvm/type ::push
           ::value 0}
          {::fvm/type ::eq?
           ::then [{::fvm/type ::pop}
                   {::fvm/type ::pop}
                   {::fvm/type ::push
                    ::value 1}]
           ::else [{::fvm/type ::pop}
                   {::fvm/type ::dup}
                   {::fvm/type ::dec}
                   {::fvm/type :test/fact}
                   {::fvm/type ::mul}]}]}

{::fvm/type ::push
 ::value "Enter a number: "}
{::fvm/type ::print}

{::fvm/type ::read}
{::fvm/type :test/fact}
{::fvm/type ::println}
