{:op :requires
 :value ["lib/std.edn"]}

{:op :defop
 :name :fact
 :value [{:op :push
          :value 0}
         {:op :eq?
          :then [{:op :pop}
                 {:op :pop}
                 {:op :push
                  :value 1}]
          :else [{:op :pop}
                 {:op :dup}
                 {:op :dec}
                 {:op :fact}
                 {:op :mul}]}]}

{:op :push
 :value 5000}
{:op :fact}
