;; Math
;; ====
{:fvm.fvm/type :fvm.ednlang/defop
 :fvm.ednlang/name :fvm.ednlang/inc
 :fvm.ednlang/value [{:fvm.fvm/type :fvm.ednlang/push
                      :fvm.ednlang/value 1}
                     {:fvm.fvm/type :fvm.ednlang/add}]}

{:fvm.fvm/type :fvm.ednlang/defop
 :fvm.ednlang/name :fvm.ednlang/dec
 :fvm.ednlang/value [{:fvm.fvm/type :fvm.ednlang/push
                      :fvm.ednlang/value 1}
                     {:fvm.fvm/type :fvm.ednlang/swap}
                     {:fvm.fvm/type :fvm.ednlang/sub}]}

{:fvm.fvm/type :fvm.ednlang/defop
 :fvm.ednlang/name :fvm.ednlang/neg
 :fvm.ednlang/value [{:fvm.fvm/type :fvm.ednlang/push
                      :fvm.ednlang/value 0}
                     {:fvm.fvm/type :fvm.ednlang/sub}]}

;; IO
;; ==
{:fvm.fvm/type :fvm.ednlang/defop
 :fvm.ednlang/name :fvm.ednlang/println
 :fvm.ednlang/value [{:fvm.fvm/type :fvm.ednlang/print}
                     {:fvm.fvm/type :fvm.ednlang/push
                      :fvm.ednlang/value "\n"}
                     {:fvm.fvm/type :fvm.ednlang/print}]}
