;; Math
;; ====
{::fvm/type ::defop
 ::name ::inc
 ::value [{::fvm/type ::push
           ::value 1}
          {::fvm/type ::add}]}

{::fvm/type ::defop
 ::name ::dec
 ::value [{::fvm/type ::push
           ::value 1}
          {::fvm/type ::swap}
          {::fvm/type ::sub}]}

{::fvm/type ::defop
 ::name ::neg
 ::value [{::fvm/type ::push
           ::value 0}
          {::fvm/type ::sub}]}

;; IO
;; ==
{::fvm/type ::defop
 ::name ::println
 ::value [{::fvm/type ::print}
          {::fvm/type ::push
           ::value "\n"}
          {::fvm/type ::print}]}
